:root {
  --bg-color: #F9FAFB;
  --element-color: #FFF;
  --light-accent-color: #60A5FA;
  --accent-color: #3B82F6;
  --text-color: #000;
  --hint-color: #D1D5DB;
  --cancel-color: #EF4444;
  --save-color: #22C55E;
}
