.title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
}

.field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;

  &__name {
    font-size: 16px;
    flex-grow: 1;

    &Bold {
      font-weight: 600;
    }
  }
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;

}
