.reservationsRooms {
  height: 100vh;
  max-width: 640px;
  margin: auto;

  &__header {
    margin-bottom: 8px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
  }

  &__content {
    margin-top: 8px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


  }

  &__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nextBtn {
    min-width: 128px;

    &Right {
      margin-left: auto;
    }
  }


  @media screen and (max-width: 440px) {
    &__footer {
      align-items: stretch;
      justify-content: center;
      flex-direction: column-reverse;
    }

    &__nextBtn {
      margin-bottom: 10px;

      &Right {
        margin: 0;
      }
    }
  }
}
