.title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
}

.field {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &__name {
    font-size: 16px;
    flex-grow: 1;
    max-width: 50%;
  }

  &__input {
    flex-grow: 1;
    width: 100%;
    max-width: 50%;
  }

  &__radioGroup {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    & > div {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &Start {
    align-items: flex-start;
  }


  @media screen and (max-width: 440px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &__name {
      max-width: 100%;
      margin-bottom: 4px;
    }

    &__input {
      max-width: 100%;
    }
  }
}

.insurance {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &__name {
    font-size: 16px;
    flex-grow: 1;
    max-width: 50%;
  }

  @media screen and (max-width: 440px) {
    &__name {
      max-width: 100%;
      margin-bottom: 4px;
    }
  }
}


.price {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  &__name {
    font-size: 16px;
    flex-grow: 1;
    max-width: 50%;
  }

  &__total {
    font-size: 16px;
    font-weight: 600;
  }

  @media screen and (max-width: 440px) {
    margin-top: auto;
    margin-bottom: 10px ;
    &__name {
      max-width: 100%;
    }
  }
}
